<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul id="socialIcons" class="text-center">
          <li><a href="http://twitter.com/bretteast" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a></li>
          <li><a href="https://au.linkedin.com/in/eastbrett" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
          </a></li>
          <li><a href="http://codepen.io/bretteast/" target="_blank">
            <i class="fa fa-codepen fa-2x"></i>
          </a></li>
          <li><a href="https://github.com/brett-east" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a></li>
          <li><a href="http://ux.stackexchange.com/users/63918/brett-east" target="_blank">
            <i class="fa fa-stack-exchange fa-2x"></i>
          </a></li>
        </ul>
        <p class="text-center">&copy; Brett East 2016</p>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</footer><!-- .container-fluid -->


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-48899357-1', 'auto');
ga('send', 'pageview');

</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
