#main-content.blog {
  h1 a:hover {
    text-decoration: none;
  }
}

pre {
  overflow-x: scroll;
  code {
    white-space: pre;
  }
}

#header-image-blog {
	background: -webkit-linear-gradient(rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.45) 100%), -webkit-radial-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 80%), url('../images/bg-macbook-cu-bw.jpg') no-repeat center center;
	background-size: cover;
	height: 300px;
}

// Pagination
.pagination {
  float: right;
}

.prev-link {
  display: inline-block;
  margin-right: 4rem;
}

.next-link {
  display: inline-block;
}


// Archive page
.archive h3:target {
	color: #337ab7;
	font-size: 1.6em;
}

.return {
	display: none;
}
h3:target + .taglist .return {
	display: block;
}
.return a {
	font-size: 0.8em;
	text-decoration: none;
	color: #337ab7;
}
.return a:before {
	content: '\25b2\00a0';
}
