<!DOCTYPE html>
<html lang="en">
  {% if page.id %}
  {% include post-head.html %}
  {% else %}
    {% include main-head.html %}
  {% endif %}
  <body>
	  	<div class="container-fluid">
		  	<div class="row">
          <nav class="navbar">
          	<div class="navbar-header">
        	  	<a class="navbar-brand" href="/index.html">
        	        <img alt="Brett East" src="/images/be-logo.svg">
        	    </a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="mainNav">
          		<ul class="nav navbar-nav navbar-right">
          			<li><a href="http://bretteast.me/">Home</a></li>
          			<li><a href="/">Blog</a></li>
          			<li><a href="http://bretteast.me/about.html">About Me</a></li>
          			<li><a href="http://bretteast.me/portfolio">My Work</a></li>
          			<li><a href="http://bretteast.me/resume.html">Resume</a></li>
          			<li><a href="http://bretteast.me/contact.html">Contact</a></li>
          		</ul>
        	</div><!-- #mainNav -->
        </nav>
        {% unless page.id %}
		  	  <div id="header-image-blog"></div><!-- #header-image -->
        {% endunless %}
		  	</div><!-- .row -->
	  	</div><!-- .container-fluid -->


        {{content}}

        {% include footer.html %}
  </body>
</html>
