---
layout: default
---

<div id="main-content" class="container-fluid blog-post">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <article>
      <h1 class="text-center">{{ page.title }}</h1>
      <p><a href="/">&larr; Back to Blog</a></p>
      <!-- TODO: change this to a real url, not a slash -->
      <p>{{ page.date | date: "%B %-d, %Y" }}</p>
      {{content}}
        </article>
        <section>
          {% include disqus.html %}
        </section>
        </div><!-- .col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .container-fluid -->
